{% load staticfiles %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{% block title %}FPP Archive{% endblock %}</title>
        {% block conditional-css %}{% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
        <link href="{% static 'fpp_archive/dist/css/style.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{% static 'fpp_archive/img/logo/favicon.ico' %}" />
        <link rel="apple-touch-icon-precomposed" href="{% static 'fpp_archive/img/logo/ios_bookmark.png' %}"/>
    </head>
    <body>
        <header itemscope itemtype="https://schema.org/WebSite">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <p class="status-message success"><i class="fa fa-times-circle"></i>{{ message }}</p>
                    {% elif message.tags == 'error' %}
                    <p class="status-message failure"><i class="fa fa-times-circle"></i>{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <p itemprop="about">Publishing and Distributing Works Of Enduring And Historic Significance</p>
            <a href="/" target="_self"><img class="logo"src="{% static 'fpp_archive/img/logo/logo.png' %}"></a>
            <nav class="menu site-width plain-link title-font">
                <ul id="menu">
                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                    <li><a id="mission-link" href="/#menu-marker">Our Mission</a></li>
                    <li><a id="about-link" href="/#menu-marker">About The Archive</a></li>
{#                    <li><a href="/categories">Browse The Archive</a></li>#}
{#                    <li><a href="/#menu-marker">Upload To The Archive</a></li>#}
                    <li><a href="/#menu-marker">Donate</a></li>
                    <li><a href="http://firstprinciplespress.org/newsite/" title="Visit FPP Online" target="_blank">Visit FPP Online</a></li>
                    <li><a href="#contact-form">Contact</a></li>
                    <li><a href="/courses/">FPP Courses</a></li>
                </ul>
            </nav>
        </header>

        {% block pre-search %}{% endblock %}

        {% block search %}
        <div class="search" itemscope>
            <form class="site-width" itemscope action="#" onsubmit="goto_sx();">
                <div>
                    <button><i class="fa fa-search fa-2x">
                        </i> <span style="font-size: 25px">Search the Archive</span>
                    </button>
                </div>
            </form>
        </div>
{#            <div class="contact-button-input">#}
{#                        <button type="submit">Search the Archive</button>#}
{#            </div>#}
        {% endblock %}

        {% block content %}{% endblock %}
        <footer>
            <section class="contact-wrapper">
                <h2 class="site-width">Contact FPP</h2>
                <form id="contact-form" class="site-width" action="/contact-us/" method="post">
                    {% csrf_token %}
                    <div class="line-input">
                        <input class="ui-input-elements" type="text" name="name" id="name" placeholder="your name&hellip;" required />
                        <input class="ui-input-elements" type="email" name="email" id="email" placeholder="your e-mail&hellip;" required />
                    </div>
                    <div class="text-input">
                        <textarea class="ui-input-elements" name="comments" id="comments" columns="25" rows="5" placeholder="your message&hellip;" required></textarea>
                    </div>
                    <div class="contact-button-input">
                        <button type="submit">Send Message <i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                </form>
            </section>
            <section class="sub-footer">
                <h4 class="site-width">FPP Disclaimer</h4>
                <p class="site-width">
                First Principles, Inc, is a 501(c)(3) tax-exempt education organization, which promotes real American history as a key source for understanding the foundations of American law, civil government, and our public institutions.  The FPP Archive is made available to the public for educational purposes only, exercising non-commercial, fair use of the material presented throughout this website.
                </p>
                <hr class="separator">
                <div class="copyright site-width" itemscope itemtype="https://schema.org/WebSite">
                    <span itemprop="copyrightYear">copyright &copy; {% now "Y" %}</span>
                    <span itemprop="copyrightHolder">First Principles Press</span>
                    <span>All Rights Reserved</span>
{#                    <span itemprop="creator">Website by <a class="plain-link" href="http://bigideamediagroup.com/" title="Visit Big Idea Media Group's Site" target="_blank" itemscope itemtype="https://schema.org/Organization" itemprop="name">Big Idea Media Group</a></span>#}
                </div>
            </section>
        </footer>
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="{% static 'fpp_archive/js/jquery.slicknav.min.js' %}"></script>
        {% block conditional-js %}{% endblock %}
        <script>
            $(function(){
                $('#menu').slicknav();
            });
        </script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <script>
                    $("p.status-message .fa").click(function(){
                        $("p.status-message").addClass("hidden");
                    });
                </script>
                {% elif message.tags == 'error' %}
                <script>
                    $("p.status-message .fa").click(function(){
                        $("p.status-message").addClass("hidden");
                    });
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </body>
</html>
{% endspaceless %}

<script language="JavaScript">
    function goto_sx() {
        var win = window.open('http://sx.fpparchive.org', '_blank');
        win.focus();
    }
</script>