{% extends "fpp_archive/base.html" %}
{% load staticfiles %}
{% block conditional-css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block conditional-js %}
{# Imports #}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'fpp_archive/js/unslider.min.js' %}"></script>
<script src="{% static 'fpp_archive/js/uploadbtn.min.js' %}"></script>
<script src="{% static 'fpp_archive/js/tabtoaccordion.min.js' %}"></script>
{# Scripts #}
<script>
    $(function() { $( "#tabs" ).tabs(); });
</script>

<script>
    $(document).ready(function(){$(".slider .banner .slider-img").css("display", "block");var unslider=jQuery('.banner').unslider({fluid:true,speed:1000,delay:5000});jQuery('.unslider-arrow').click(function(){console.log('asdf');var fn=this.className.split(' ')[1];unslider.data('unslider')[fn]();});});
</script>

<script>
    $(document).ready(function(){
        $(window).resize(function(e){ updateUI(); }); updateUI();
    });
</script>
{% endblock %}

{% block pre-search %}
<div class="slider">

    <div class="banner">
	    <div id="slider-nav">
		    <a href="#" class="unslider-arrow prev"><i class="fa fa-chevron-left fa-3x"></i></a>
			<a href="#" class="unslider-arrow next"><i class="fa fa-chevron-right fa-3x"></i></a>
	    </div>
        <ul>
            <li><img class="slider-img" src="{% static 'fpp_archive/img/slider/slider1.png' %}"></li>
            <li><img class="slider-img" src="{% static 'fpp_archive/img/slider/slider2.png' %}"></li>
            <li><img class="slider-img" src="{% static 'fpp_archive/img/slider/slider3.png' %}"></li>
            <li><img class="slider-img" src="{% static 'fpp_archive/img/slider/slider4.png' %}"></li>
            <li><img class="slider-img" src="{% static 'fpp_archive/img/slider/slider5.png' %}"></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="main-content site-width" id="menu-marker">
    <h2>Discover the FPP Archive</h2>
    <div itemscope itemtype="https://schema.org/WebSite" class="tabs" id="tabs">
        <ul>
            <li><a href="#tabs-1">Our Mission</a></li>
            <li><a href="#tabs-2">About the Archive</a></li>
            <li><a href="#tabs-3">Donate to the Project</a></li>
{#            <li><a href="#tabs-4">Contribute to the Archive</a></li>#}
        </ul>
        <div id="tabs-1">
            <div class="tab-content">
                <p>First Principles, Inc. was founded in 1993 to provide historical instructions and information about the truth and current significance of the first principles of america, particularly as they provide the foundation for our institutions emphasizing virtue, honor and patriotism, self-government, individual responsibility, and independent sovereignty, which begins with accountability of each governmental body at the country, state, and national level to We, The People.</p>
                <p>Since its founding, First Principles has been committed to publishing and distributing works of enduring and historic significance, equipping concerned americans to uphold support and defend America's founding and first principles. Through this website, an archive of these materials is made available to the public for the first time.</p>
            </div>
            <div class="tab-img-container">
                <img src="{% static 'fpp_archive/img/tabs/mission.jpg' %}" class="tab-img">
            </div>
            <div class="clear"></div>
        </div>
        <div id="tabs-2" itemprop="about">
            <div class="tab-content">
                <p>After more than 20 years of work, First Principles Press has moved its extensive library archives from filing cabinets to digital, preserving

                it from decay and making it accessible to people across the world through this archive. This resource will serve upcoming scholars who

                have no first-hand knowledge or experience of the threats that were met by faithful patriots to preserve America’s Godly heritage and way

                of life.</p>
                <p>FPP has continually contended for the truth of the Christian foundations of American law and civil government, while exposing an array

                of undemocratic changes carried out too often without media exposure and thus little, if any, citizen review. Contrary to the flawed view of

                history that things just randomly happen or evolve, First Principles has documented in this archive the activities of personal and

                corporate players who have altered the institutions of our Constitutional Republic throughout the 20th Century.

                The FPP Fighting Digital Archive contains more than 15,000 supporting documents and ephemera for FPP’s three national campaigns: The

                American History Restoration Project, “Exemplary Conduct” &amp; Prayer in the U.S. Armed Forces and our sister site on moral virtue

                RSVPAmerica. This Digital Archive Project contains selections from First Principles’ vast collection of historic books, backgrounders,

                research and articles from 1993 to present. We seek to preserve, organize and broaden the influence and availability of First Principles’

                collections for future research, permanent storage and increasing ease of retrieval.</p>
            </div>
        </div>
        <div id="tabs-3">
            <div class="tab-img-container">
                <img src="{% static 'fpp_archive/img/tabs/donate.jpg' %}" class="tab-img">
            </div>
            <div class="tab-content">
                <p>Since 1993, First Principles has stood for the Lord’s righteousness in

                America. It is only by the grace of God and with the prayers and

                support from our generous donors that we are able to continue our

                mission and ministry through the FPP Archive. God has been so

                faithful to provide for the work He has given to FPP. We are very

                grateful for those who have supported this work, and hope you will be

                with us as we continue onward.</p>
                <p>First Principles, Inc. is a 501(c)(3) tax-exempt foundation and gifts to

                First Principles, Inc. are tax deductible to the full extent permitted by

                law.</p>
                <p>**Note: To donate with a PayPal account, simply log in on the next page using your PayPal

                username and password. To donate with a credit card, find “Don’t have a PayPal account? Use

                your credit card or bank account (where available).” on the next page and click “Continue.”</p>
                <form id="donate_form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank"><input name="cmd" value="_s-xclick" type="hidden"> <input name="hosted_button_id" value="Y5G8MTGPYK25Q" type="hidden"> <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" type="image"> <img style="display: none ! important;" alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" border="0" height="1" width="1"></form>
            </div>
            <div class="clear"></div>
        </div>
        <div id="tabs-4">
            <div class="tab-content">
                <p>First Principles, Inc. is dedicated to preserving the historical account

                of the events that have shaped our nation. If you have documents,

                photos or articles that you would like to contribute to the FPP Archive

                for the purpose of preserving them for future generations, please

                feel free to upload them here for retreval by a staff member. Fpp will

                review them and if they qualify as historically relelvant, FPP will

                include them along with the name of the contributor on this site.</p>
                <p>Simply use the upload tool below to browse your hard drive and

                upload them. If you have documents or photos that are not currenlty

                in a digital format, you can contact us and we will let you know how

                to to get copies of those documents to our organization.</p>
                <p>Thank you,<br>FPP Staff</p>
                <form action="{% url 'fpp_archive:upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="contribute">
                        <div><input id="uploadFile" placeholder="Choose File" disabled="disabled" /></div>
                        <div class="fileUpload contribute-btn">
                            <span>Browse</span>
                            <input type="file" name="upload" class="upload" id="uploadBtn" value="" required accept=".pdf"/>
                        </div>
                        <button type="submit" id="upload-btn" class="contribute-btn">Upload</button>
                    </div>
                </form>
            </div>
            <div class="tab-img-container">
                <img src="{% static 'fpp_archive/img/tabs/contribute.jpg' %}" class="tab-img">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
{% endblock %}
