/* Table Of Content
1 Site Wide CSS
2 Header General
    2.1 Title Bar
    2.2 Logo
    2.3 Menu
3 Slider
4 Search
5 Tabs
    5.1 Accordian
    5.2 Tab Buttons
6 Footer
    6.1 Disclaimer
    6.2 Copyright
7 Contact Form
8 Search Results
9 Categories Page
9.5 Courses
9.6 Login
10 Media Query (650px min)
	10.1 Banner
	10.2 Footer
	10.3 Contact Form
	10.4 Search Page
	10.5 Tabs
11 Media Query (815px min)
	11.1 Menu
	11.2 SubMenu
	11.3 Search
	11.4 Tabs

12 Media Query (1020px min)
    12.1 Tabs
13 Media Query (1180px min)
    13.1 SiteWide
 */

/* 1 - Site Wide CSS */
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    color: #4F4F4F;
}

.title-font {
    font-family: 'Oswald', sans-serif;
}

.body-font {
    font-family: 'Roboto Slab', serif;
}

.site-width {
    max-width: 117rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.narrow-site-width {
    max-width: 80rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.separator {
    width: 70%;
    margin: 2rem auto;
    border: none;
    border-top: .1rem solid #555555;
}

.plain-link,
.plain-link:link,
.plain-link:hover,
.plain-link:active,
.plain-link:visited,
.plain-link a,
.plain-link a:link,
.plain-link a:hover,
.plain-link a:active,
.plain-link a:visited {
    text-decoration: none;
    color: black;
}

/* 2 Header General */

/* 2.1 Title Bar */

header p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    background-color:black;
    color: white;
    margin:0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

p.status-message {
    box-sizing: border-box;
    transition: all 0.5s ease;
    transition-delay: 0.2s;
    overflow: hidden;
    margin-top: 0;
}

p.failure {
    background-color: #F7403D;
}

p.success {
    background-color: #36DB62;
}

p.status-message .fa {
    /*float: right;*/
    position: absolute;
    left: 0;
    margin-left: 0.5rem;
    transition: all 1.0s ease;
    font-size: 2rem;
    cursor: pointer;
}

p.status-message.hidden {
    margin-top: -3.2rem;
}

p.status-message.hidden .fa {
    margin-left: -10rem;
}

/* 2 Header General */

/* 2.2 Logo */

header > a {
    width: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 2.3 Menu */

.menu {
    display: none;
}

.menu li {
    text-transform: uppercase;
}

/* 3 Slider*/

.slider {
    display: none;
}

.banner {
    position: relative;
    overflow: auto;
    text-align: center;
}

#slider-nav {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.unslider-arrow:visited {
	text-decoration: none;
}

.slider .banner .unslider-arrow {
    position: absolute;
    z-index: 1;
    color: white;
    text-shadow: 0 0 .3rem rgba(0, 0, 0, 0.30);
}

.slider .banner .slider-img {
    display: none;
}

.unslider-arrow.prev {
	left: 0;
	padding-left: 2rem;
}

.unslider-arrow.next {
	right: 0;
	padding-right: 2rem;
}

.banner ul li {
    float: left;
    width: 100%;
    border: none;
}

.banner ul {
    height: 50rem;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.banner ul li img {
    display: block;
    width: 100%;
}

.banner ul {
    padding: 0;
}

.slider .banner {
	position: relative;
}


/* 4 Search*/
.search {
    background-color: #181818;
}

.search form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2rem 0;
}

.search form div {
    display: flex;
    justify-content: center;
}

.search form > div > .fa {
    background-color: white;
    color: #820C08;
    padding: 1rem;
    padding-left: 1.5rem;
}

.search form input.search-box {
    width: 60%;
    font-size: 2rem;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
}

.search form div.advanced-search {
    justify-content: flex-start;
    width: 85%;
    margin: 0 auto;
    padding-top: .5rem;
}

.search form div.advanced-search span {
	text-transform: uppercase;
}

.search form div.advanced-search span {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.search form div.advanced-search input {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.search form button {
    width: 15%;
    height: 4.8rem;
    background-color: #820C08;
    border: none;
    color: white;
}

.search form button:hover {
    background-color: #A52929;
}

.search form button:active {
    background-color: #770909;
}

/* 5 Tabs*/

.main-content {
    padding-bottom: 7rem;
}

.main-content h2 {
    text-align: center;
}

.tabs {
    border: none;
}

.ui-tabs-nav  {
    border: none;
}

.ui-tabs-nav .ui-corner-top {
    border: none;
}

.tabs .ui-tabs-panel {
    background-color: #F3F3F3;
}

.tab-content p {
    color: #181818;
    font-family: 'Roboto Slab', serif;
}

.ui-tabs .ui-tabs-nav .ui-state-default {
    width: 100%;
}

.tabs .ui-widget-header {
    background: #840807;
    margin: 0;
    padding: 0;
}

.ui-tabs .ui-tabs-nav .ui-state-default {
    box-sizing: border-box;
    background-color: #840807;
    border-radius: 0;
    border-right: .1rem solid #F3F3F3;
    margin: 0;
    padding: 0;
    height: 6rem;
    position: relative;
    outline: none;
}

.ui-tabs .ui-tabs-nav .ui-state-default a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 23rem;
    font-size: 2.3rem;
    font-weight: 300;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    padding: 0;
    text-transform: uppercase;
    outline: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0;
    padding-top: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-active a {
    color: black;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:none;
}

.clear {
    clear: both;
}

#tabs-1 .tab-content {
    width: 60%;
    float: left;
}


#tabs-3 .tab-content {
    width: 60%;
    float: right;
}

/*#tabs-4 .tab-content {*/
    /*width: 60%;*/
    /*float: left;*/
/*}*/

.tab-img-container {
    text-align: center;
}

.tab-img {
    max-width: 20rem;
    max-height: 30rem;
    margin: 1rem 0;
}

#donate_form {
    text-align: center;
}

/*5.1 Accordian*/
.ui-accordion .ui-accordion-icons {
    border: none;
    border-radius: 0;
    background-color: #820C08;
    height: 3rem;
}
.ui-accordion .ui-accordion-icons a {
    color: white;
    text-align: center;
}

.ui-accordion .ui-accordion-content {
    border: none;
}

.main-content .ui-state-active .ui-icon {
    background-image: none;
}

.main-content .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    background: none;
}

.ui-accordion .ui-accordion-header {
    display: flex;
    align-items: center;
}

#accordion-wrap {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* 5.2 Tab Buttons */

.contribute-btn {
    border: none;
    background-color: #2B2B2B;
    color: white;
    width: 15rem;
    height: 3.5rem;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    float: left;
}

.contribute-btn.fileUpload {
    margin-right: 1rem;
}

.fileUpload {
    position: relative;
    margin: 1rem;
    text-align: center;
    margin: 0;
}

.fileUpload span {
    top: 15%;
    position: relative;
}

.fileUpload input.upload {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#uploadFile {
    width: 100%;
    border: none;
    background: none;
}

/* 6 Footer General */
footer .sub-footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

/* 6.1 Disclaimer */
footer .disclaimer {
    text-align: center;
}

footer .sub-footer h4 {
    margin-top: 0;
}

/* 6.2 Copyright */
footer .copyright {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-flow: column nowrap;
}

footer .copyright a.plain-link {
    color: white;
    text-decoration: underline;
}

/* 7 Contact Form */

.contact-wrapper {
    background: url(../img/footer/footer.jpg) no-repeat;
    padding: 5rem 0;
    margin-bottom: -.5rem;
}

.contact-wrapper h2 {
    margin: 0 auto 5rem;
    color: white;
    text-align: center;
}

.contact-wrapper form .ui-input-elements {
    box-sizing: border-box;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.contact-wrapper form .line-input input {
    display: block;
    margin-bottom: 2rem;
}

.contact-wrapper form .contact-button-input button {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: #840807;
    border-radius: 0.5rem;
}

.contact-wrapper form .contact-button-input button .fa {
    transform: translate(0, -0.2rem);
}

.contact-wrapper form .contact-button-input button:hover {
    background-color: #A52929;
}

.contact-wrapper form .contact-button-input button:active {
    background-color: #770909;
}

/* 8 Search Results Page */

.search-results-banner {
    display: none;
}

.search-results > span {
    display: block;
    color: #555;
    margin-top: 5rem;
}

.search-results h2 {
    margin: 0;
}

.search-results p {
    margin-top: 0;
    color: #ccc;
}

.search-results .separator {
    width: 100%;
    border-color: #ccc;
}

.search-results ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.search-results dt {
    float: left;
    color: #ccc;
    margin-right: 0.5rem;
}

.search-results dd {
    margin: 0;
    color: #555;
    margin-left: 0.5rem;
}

.pagination {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.pagination ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination ul li,
.pagination a {
    padding: 0.5rem;
    background-color: #181818;
}

.pagination ul li:not(:last-of-type) {
    margin-right: 1rem;
}

.pagination ul li a.plain-link,
.pagination a.plain-link {
    color: white;
}

.previous-page {
    margin-right: 1rem;
}

.next-page {
    margin-left: 1rem;
}

/* 9 Categories Page */

#main-category {
    padding-bottom: 5rem;
}

#main-category.ui-accordion .ui-accordion-icons {
    background: none;
    margin-top: 0;
    height: auto;
}

#main-category.ui-accordion h2 {
    font-size: 2.2rem;
    border-bottom: .1rem solid #555;
}

#main-category.ui-accordion h3 {
    font-size: 1.7rem;
}

#main-category.ui-accordion h3:focus,
#main-category.ui-accordion h4:focus {
    outline: none;
}


#main-category.ui-accordion h4 {
    margin: 0.5rem 0 0.5rem 2.5rem;
    color: #ccc;
    font-family: 'Roboto Slab', serif;
}

.ui-accordion-content .ui-accordion-content {
    padding-top: 0;
    padding-bottom: 0;
}

.categories-content .ui-accordion .ui-accordion-icons {
    background-color: white;
}

.categories-content h4 a{
    text-decoration: none;
    font-family: 'Oswald';
}
.categories-content #main-category.ui-accordion h3 {
    color: #555;
}
.categories-content #main-category.ui-accordion h4 {
    margin: 2rem 0;
}

.categories-content h4 a:hover {
    color: #A52929;
}

/* 9.5 Courses */
.browse_subjects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.browse_subjects h1 {
    font-size: 2rem;
}

.browse_subjects ul {
    column-count: 3;
    column-rule: .1rem inset rgba(0, 0, 0, 0.4);
    column-gap: 8rem;
    list-style: none;
}

.browse_subjects ul li a {
    text-decoration: none;
    color: rgba(0,0,0,.6);
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 400;
}

.browse_subjects ul li a:hover {
    color: #820C08;
}

.discover .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}

.discover .grid li {
    margin: 1rem 0;
    position: relative;
}

.discover .grid li.wide {
    width: calc(66.66% - 2%);
}

.discover .grid li.square {
    width: calc(33.33% - 1%);
}

.discover .grid li img {
    width: 100%;
    filter: grayscale(100%);
}

.discover .grid li div {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discover .grid li div p {
    color: white;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
    background-color: rgba(0,0,0, .6);
    padding: .5rem 2rem;
}

.discover .grid li:hover img {
    filter: grayscale(0);
}

/* 9.5.2 Course Index */
.course_about h1 {
    color: #393939;
    text-align: center;
    margin-top: 3rem;
}

.course_about h2 {
    font-size: 1.8rem;
    text-align: center;
}

.course_about p {
    text-align: justify;
    padding: 1rem 1rem;
}

.course_about img {
    display: none;
}

.course_download {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.course_download h2 {
    width: 100%;
}

.course_download a {
    text-decoration: none;
}

.course_download a div {
    width: 25rem;
    height: 10rem;
    background-color: #7F0F01;
    margin: 2rem 6rem;
    color: white;
    font-family: 'Oswald';
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 1.5rem;
}

.course_download a div em {
    font-size: 3rem;
    font-style: normal;
    width: 100%;
}
.course_content {
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.course_content .ui-accordion-header {
    background-color: transparent;
    border-bottom: .1rem solid #D1D1D1;
    padding: 0;
    padding-left: 3rem;
    outline: 0;
}

.course_content .ui-accordion-header-icon {
    background-image: url('../../img/courses/icons/plus.svg');
    background-position: center;
    background-size: 100%;
}

.course_content .ui-accordion-header.ui-accordion-header-active .ui-accordion-header-icon {
    background-image: url('../../img/courses/icons/minus.svg');
}

.course_content .course_days li {
    border-bottom: .1rem solid #D1D1D1;
    padding-top: 2rem;
    text-transform: uppercase;
    font-family: 'Oswald';
    color: #4F4F4F;
}

.course_content .course_days li:first-of-type {
    padding: 0;
}

.course_content .course_days li em {
    font-style: normal;
    font-weight: 600;
    padding-right: 5rem;
}

.course_content .course_days li a {
    text-decoration: none;
}

.course_content .course_days li a:hover {
    color: #7F0F01;
}

/* Course Day */
.lesson_header {
    text-align: center;
}

.lesson_header h1 {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    color: #4c4c4c;
    font-size: 1.8rem;
}

.lesson_header h1 span {
    width: 100%;
}

.lesson_content p {
    word-wrap: break-word;
}

.backtoindex,
.nextday {
    font-family: 'Oswald';
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
}

.lesson_header .backtoindex {
    color: #7F0F01;
    text-decoration: none;
    float: right;
    width: 100%;
    text-align: right;
}

.lesson_content .backtoindex {
    color: #7F0F01;
    text-decoration: none;
}

.lesson_content .nextday {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: .2rem 2rem;
    margin-right: 2rem;
    display: inline-flex;
    align-items: center;
}

.lesson_content .nextday i {
    margin-left: 1rem;
}

.comments {
    margin-top: 10rem;
}

/* 9.6 Login */
.login form,
.register form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.login form label,
.register form label {
    width: 92%;
}

.login form input,
.register form input {
    width: 90%;
    font-size: 2rem;
    padding: 1rem .5rem;
    outline: 0;
    margin-bottom: 3rem;
}

.login form input.btn,
.register form input.btn {
    width: 92%;
    font-family: 'Oswald';
    text-transform: uppercase;
    padding: 1rem 0;
    background-color: #820C08;
    border: 0;
    color: white;
    font-size: 2.1rem;
    margin-bottom: 0;
}

.login-error {
    text-align: center;
    font-family: Oswald;
    font-size: 2rem;
    background-color: #820C08;
    margin: 0;
    margin-bottom: 4rem;
    padding: 1rem 0;
    color: white;
    text-transform: uppercase;
}

.login form .options {
    width: 52%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.login form .options a {
    color: #820C08;
    text-decoration: none;
}

/* Register */
.register form .helptext {
    display: none;
}



/* 10 Media Query (650px min) */
@media screen and (min-width: 650px) {

	/* 10.1 - Banner */

	.slider {
		display: block;
	}

	/* 10.2 Footer */
	footer .copyright {
		flex-flow: row nowrap;
		justify-content: center;
	}

	footer .copyright span::after {
		content:"|";
		margin: 0 2rem;
	}

	footer .copyright span:last-of-type::after {
		content:"";
		margin: 0;
		margin: 0;
	}

	/* 10.3 - Contact Form */

	.contact-wrapper {
		margin-bottom: 0;
	}
	.contact-wrapper form div.line-input {
		box-sizing: border-box;
		width: 33%;
		padding-right: 2rem;
		float: left;
	}

	.contact-wrapper form {
		width: 70%;
	}

	.contact-wrapper form div.line-input input {
		width: 100%;
		display: block;
	}

	.contact-wrapper form div.text-input {
		width: 66%;
		float: right;
	}

	.contact-wrapper form div.text-input textarea {
		height: 16.6rem;
	}

	.contact-wrapper form div.contact-button-input {
		box-sizing: border-box;
		width: 33%;
		padding-right: 2rem;
		clear: left;
	}

	.contact-wrapper form div.contact-button-input button {
		margin-top: 0;
	}

    /* Search Box */
    .search form div.advanced-search {
        width: 81%;
    }

	/* 10.4 Search Page */

	.search-results-banner {
		display: block;
		background: url(../img/banner/search-results-banner.jpg) no-repeat center center;
		height: 15rem;
	}

	.search-results dl {
		display: flex;
		flex-flow: row wrap;
	}

	.search-results dt {
		float: none;
		color: #ccc;
		margin-right: 0;
		margin-left: 0.5rem;
	}

	.search-results dt:not(:first-of-type) {
		margin-left: 0.5rem;
	}

	.search-results dl.keywords {
		font-size: 1.8rem;
	}

    .course_about img {
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 100%;
    }

    /* Login */
    .login form label,
    .register form label {
        width: 72%;
    }

    .login form input,
    .register form input {
        width: 70%;
    }

    .login form input.btn,
    .register form input.btn  {
        width: 72%;
    }

}

/* 11 Media Query (815px min) */
@media screen and (min-width: 815px) {

    /* 11.1 Menu */

    .slicknav_menu {
        display:none;
    }

    .menu {
        display: block;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
    }

    .menu ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu ul li {
        padding: 0.5rem;
    }

    .menu > ul > li {
        padding-left: 0;
        padding-right: 0;
    }

    .menu > ul > li::after {
        content: "|";
    }

    .menu > ul > li:last-of-type::after {
        content: "";
    }

    .menu > ul > li a {
        padding: 0.5rem 1rem;
    }

    .menu > ul > li > a:hover {
        color: white;
        background-color: #181818;
    }

    /* 11.2 SubMenu */
    .menu ul li ul {
        display: none;
        position: absolute;
        z-index: 2;
        margin-top: 0.5rem;
    }

    .menu ul li:hover ul {
        display: flex;
        flex-flow: column nowrap;
        background-color: #181818;
    }

    .menu ul li ul li {
        border-top: .1rem solid #363636;
    }

    .menu.plain-link ul li ul li a {
        display: block;
        padding: .5rem;
        color: white;
    }

    .menu ul li ul li:hover {
        background-color: white;
    }

    .menu.plain-link ul li ul li:hover a {
        color: #181818;
    }

    /* 11.3 Search*/

    .search form input.search-box {
        width: 60rem;
        -webkit-appearance: none;
        margin: 0;
    }

    .search form input.search-box:focus {
        outline: 0;
    }

    .search form div.advanced-search {
        width: 73rem;
    }

    .search form button {
        width: 35rem;
        outline: 0;
    }

    .search button {
        width: 35rem;
        outline: 0;
    }


    /* 11.4 Tabs */
    .ui-tabs .ui-tabs-nav .ui-state-default {
        width: 50%;
        border-radius: 0;
        box-shadow: none;
    }

    .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        box-shadow: -0.9rem 0rem 0.6rem -0.5rem rgba(0, 0, 0, 0.25) ,0.9rem 0rem 0.6rem -0.5rem rgba(0, 0, 0, 0.25);
        z-index: 3;
        background-color: #F3F3F3;
    }

    .ui-tabs .ui-tabs-nav li.ui-state-default:first-of-type.ui-tabs-active {
        box-shadow: 0.9rem 0rem 0.6rem -0.5rem rgba(0, 0, 0, 0.25);
    }

    .ui-tabs .ui-tabs-nav li.ui-state-default:last-of-type.ui-tabs-active {
        box-shadow: -0.9rem 0rem 0.6rem -0.5rem rgba(0, 0, 0, 0.25);
    }

    .tabs .ui-widget-header {
        display: block;
    }

	.tab-img-container {
			width: 40%;
			float: left;
	}

	.tab-img{
	   max-width: 30rem;
	}

    .course_about p {
        text-align: justify;
        padding: 1rem 5rem;
    }

    /* Login */
    .login form label,
    .register form label {
        width: 52%;
    }

    .login form input,
    .register form input {
        width: 50%;
    }

    .login form input.btn,
    .register form input.btn  {
        width: 52%;
    }


}

/* 12 Media Query (1020px min) */
@media screen and (min-width: 1020px) {
    /* 12.1 - Tabs */

    .ui-tabs .ui-tabs-nav .ui-state-default {
        width: 33.33%;
    }

    .contact-wrapper form {
        width: 50%;
    }
}

/* 13 Media Query (1180px min) */
@media screen and (min-width: 1180px) {
    /* 13.1 Site Wide*/
    .site-width {
        padding-left: 0;
        padding-right: 0;
    }
}
