{% extends "courses/toc.html" %}

{% block conditional-css %}<!-- Leave Empty -->{% endblock %}
{% block conditional-js %}<!-- Leave Empty -->{% endblock %}

{% block course_downloads %}{% endblock %}

{% block course_content %}
  <section class="lesson_header narrow-site-width">
    <h1>
      <span>Day {{ lesson.day_number }}</span>
      <span class="title">{{ lesson.title }}</span>
    </h1>
    <a href="{{ course.get_absolute_url }}" class="backtoindex">Back to Index</a>
  </section>
  <section class="lesson_content narrow-site-width">
      <hr>
    {{ lesson.content|safe }}
    {% if next %}
    <a href="{{ course.get_absolute_url }}{{ next }}/" class="nextday"><span>Next Day</span> <i class="fa fa-long-arrow-right"></i> </a>
    {% endif %}
    <a href="{{ course.get_absolute_url }}" class="backtoindex">Back to Index</a>
  </section>
  <section class="comments narrow-site-width">
      <hr class="site-width">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = 'fpparchive';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </section>
{% endblock %}
