{% extends "fpp_archive/base.html" %}
{% load staticfiles %}

{% block conditional-css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block conditional-js %}
<!-- Includes -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<!-- Scripts -->
<script>
$(function() {
  $( "#accordion" ).accordion();
});
</script>
{% endblock %}

{% block content %}
<section class="course_about site-width">
	<div class="narrow-site-width">
		<h1>{{ course.title }}</h1>
        <hr>
        <h2>{{ course.subtitle }}</h2>
        <hr>
		<p>
            Welcome to the First Principles Press Archive. We invite you to browse our
            collection of documents. As part of your coursework, you will be encouraged
            to use the archive to supplement your learning, and explore topics that
            will illustrate how America came to be and the decisions makers who have
            shaped our nation since.
		</p>
	</div>
	<img src="{% static 'fpp_archive/img/courses/header-tmp.jpg' %}">

  {% block course_downloads %}
    <div class="course_download narrow-site-width">
      <h2>Course Index</h2>
      <a href="#"><div><em>Download E-Book</em> .mobi version</div></a>
      <a href="/courses/epub/{{ course.slug }}/"><div><em>Download E-Book</em> .epub version</div></a>
    </div>
  {% endblock %}
</section>

  {% block course_content %}
  <section class="course_content site-width">
    <ul id="accordion">
      {% for section in lessons %}
      <li>
        <h3>Section {{ section.section_number }} (Day{{ section.total|pluralize }}
          {{ section.start }}{% if not section.solo %}-{{ section.finish }}{% endif %})</h3>
      <ul class="course_days">
      {% for lesson in section.lessons %}
        <!-- Put Link For Individual Page Below -->
        <li><a href="{{ lesson.day_number }}/">
            <em>Day {{ lesson.day_number }}</em> {{ lesson.title }}</a>
        </li>
      {% endfor %}
      </ul>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endblock %}
{% endblock %}
